{% extends "base.html" %} {% block title %}Behrens & Behrens{% endblock %} {%
block body_class %}main-page{% endblock %} {% block head_extra %} {# Assuming
cover.css is already linked in base.html or here #} {# If not already linked in
base.html, add it here: #} {#
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='site/cover.css') }}"
/>
#} {% endblock %} {% block content %}
<h2 class="mb-4 text-white">Our Products:</h2>

<div class="row text-center options-frame">
  <div class="col">
    <h1>Financial Freedom Awaits</h1>
    <p class="lead">
      Plan your future with our comprehensive <b>financial simulation tool</b>.
      Understand your cash flow, investments, and expenses to achieve your
      goals.
    </p>
    <p class="lead">
      <a
        href="{{ url_for('simulator_index') }}"
        class="btn btn-lg btn-light fw-bold border-white bg-white"
        >Free Financial Simulation</a
      >
    </p>
  </div>
  <div class="col">
    <h1>Investment fund</h1>
    <p class="lead">
      Invest you money directly in our first class wikifolio fund. Actively
      managed to archieve top performance.<br /><br />
    </p>
    <p class="lead">
      <a
        href="https://www.wikifolio.com/de/de/w/wfpaailead"
        class="btn btn-lg btn-light fw-bold border-white bg-white"
        >Invest now</a
      >
    </p>
  </div>
</div>
{% endblock %}
